
.not-found-message {
  font-family: "Raleway-Regular";
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ac53f2;
}


.Github-Search-Title2 {
    font-size: 40px; 
  }

.link-home {
  text-decoration: none !important;
}  

  