
.not-found-message {
  font-family: "Raleway-Regular";
  font-size: 40px;
  color: #ac53f2;
}

.loading-message {
  font-family: "Raleway-Regular";
  font-size: 40px;
  color: #5c5c5c;
}

.github-search-title-result {
    font-size: 40px !important; 
  }

.link-home {
  text-decoration: none !important;
}  

  