.repo-name {

    font-family: "Raleway-Regular";
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ac53f2;
  }

  .repo-description {

    font-family:"Raleway-Light";
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    display: block;
  }


  .star-count {
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5c5c5c;
    display: block;
    margin-top: 10px;
  }

  .star-count img {
    margin-right: 9px;    
  }